body {
    display: flex;
    font-family: 'Helvetica', Arial, Helvetica, sans-serif;
    flex-direction: column;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

/* --- START - Header--- */
.site-header {
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #000000;
    left: 0;
    right: 0;
}

.site-header__wrapper nav {
    display: flex;
    max-width: 1920px;
    height: 80px;
    align-items: center;    /* centrerar texten i flex-boxarna i cross-axis(vertikalt) */
}

.site-header__wrapper nav a {
    color: #000000;
    text-decoration: none;  /* Tar bort understruket från länk */
    padding: 0 15px; /* Mellanrum mellan länkar */
}

.nav a {
    font-size: 20px;
}

.nav .logo {
    display: flex;
    font-family: 'Pacifico', sans-serif;
    font-size: 40px;
}

.left-items {
    display: flex;
    flex-grow: 1;
}

.right-items {
    display: flex;
}
/* --- END - Header --- */

/* --- START - Hero --- */
.hero {
    display: flex;
    
    height: 700px;

    padding-top: 100px;
    padding-bottom: 20px;

    background-color: #8BCBFA; /* Blå  #8BCBFA */
}
/* --- END - Hero --- */

/* --- START - Choose Wine --- */

.choose {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #D0D0D0;
    background-position: center;

    height: 675px;
}

.choose article {
    width: 50%;
    text-align: center;
    padding: 20px;
}

/* --- END - Choose Wine--- */

/* --- START - Seasonal --- */

.seasonal {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../images/food-banner.png);
    background-color: #D0D0D0;
    background-position: center;

    height: 675px;
}

.seasonal article {
    color: #FFFFFF;
    text-align: center;
    width: 50%;
    padding: 20px;

}

.seasonal article h1 {
    font-size: 60px;
}

.seasonal article p {
    font-size: 30px;
}

/* --- END - Seasonal --- */

/* --- START - Grapes --- */

.grapes {
    justify-content: center;
    align-items: center;

    background-color: #D0D0D0;
}

.grapes h1 {
    font-size: 40px;
    font-family: 'Pacifico', sans-serif;
    text-align: center;
    font-weight: normal;
    padding-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 30px;
  }

.grid-item {
    padding: 20px;
    font-size: 18px;
    display: flex;
    
  }

.grape-icon {
    padding: 20px 10px 0 0;
}

.button-nav {
    text-align: center;
}

a.button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}

a.button:hover{
    background-color:#4095c6;
}

/* --- END - Red Grapes --- */

/* --- START - Footer --- */
footer {
    background-color: #D0D0D0;
}

.ft-main {
    display: flex;
    color: #3D3D3D;
    padding: 40px 0;
    justify-content: space-between;
}

.ft-main-left {
    display: flex;
    flex-direction: column;
    max-width: 45ch;
    padding-left: 20px;
}

.ft-main-left .logo {
    font-family: 'Pacifico', sans-serif;
    font-size: 40px;
}

ul {
    list-style: none;
    padding-left: 0;
    line-height: 2;
}

.ft-main a {
    text-decoration: none;
    color: #3D3D3D;
}

.ft-title {
    color: #3D3D3D;
    font-size: 20px;
}

.ft-main-right {
    display: flex;
}

.ft-main-item {
    padding: 0 30px;
}

.ft-main-left .mau {
    padding: 20px 0;
}

.ft-legal {
    display: flex;
    background: #EBEBEB;
    height: 39px;
    align-items: center;
    justify-content: center;
}

/* --- END - Footer --- */
