<footer>
    <section class="wrapper ft-main">

        <div class="ft-main-left">
            <a href="/" class="logo">WineOcular</a>
            <p>This project is created by three System Development students and one Information Architecture student at
                Malmö University. WineOcular is a mashup service that uses Spoonacular and Säsongsmat to find recipes
                with matching food in season with the users choice of wine.</p>
            <img src="../images/mau_logo.png" width="150px" class="mau" alt="MAU logo"> <!-- BYT UT! -->
        </div>

        <!-- START RIGHT-->
        <div class="ft-main-right">

            <div class="ft-main-item">
                <h2 class="ft-title">Wine</h2>
                <ul>
                    <li><a href="#">Red Wine</a></li>
                    <li><a href="#">White Wine</a></li>
                    <li><a href="#">Rose Wine</a></li>
                </ul>
            </div>

            <div class="ft-main-item">
                <h2 class="ft-title">Seasons</h2>
                <ul>
                    <li><a href="#">Winter</a></li>
                    <li><a href="#">Spring</a></li>
                    <li><a href="#">Summer</a></li>
                    <li><a href="#">Autumn</a></li>
                </ul>
            </div>

            <div class="ft-main-item">
                <h2 class="ft-title">Resources</h2>
                <ul>
                    <li><a href="http://www.mau.se">Malmö University</a></li>
                    <li><a href="https://mau.se/sok-utbildning/kurser/DA109A">DA159A Web Services</a></li>
                    <li><a href="https://mau.se/sok-utbildning/kurser/DA358A">DA358A Large-Scale Web Services</a>
                    </li>
                    <li><a href="https://mau.se/sok-utbildning/program/tgiaa">TGIAA Information Architecht</a></li>
                    <li><a href="https://mau.se/sok-utbildning/program/tgsya">TGSYA System Developer</a></li>
                </ul>
            </div>

        </div>
        <!-- END RIGHT-->

    </section>

    <section class="ft-legal">
        <p>&copy; 2020 Copyright WineOcular. All Rights Reserved.</p>
    </section>
</footer>