 <header class="site-header">

    <div class="wrapper site-header__wrapper">

        <nav class="nav">

            <a href="/" class="logo">WineOcular</a>

            <div class="left-items">
                <a href="#">ABOUT</a>
                <a href="#">GRAPES</a> <!-- DROP DOWN: Red Grapes, White Grapes -->
                <a href="#">SEASONAL</a> <!-- DROP DOWN: Change Season ? -->
            </div>

            <div class="right-items">
                <a href="#">CONTACT</a>
            </div>

        </nav>

    </div>

</header>
