<section class="wrapper recipe">
    <!-- Grid-container-->
    <div class="recipe-grid-container">
        <!-- Grid-items -->

        <div class="recipe-grid-item1"><img src="{{ imageURL }}"></div>

        <div class="recipe-grid-item2">
            <p>Matching: {{ grape }}</p>

            <p>Ingredients: </p>
            {% for i in ingredients %}
            <p>{{ i }}</p>
            {% endfor %}

        </div>

        <div class="recipe-grid-item3">

            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
        </div>

        <div>

</section>