<section class="wrapper grapes">
    <h1 id="red">Red Grapes</h1>

    <div class="grid-container">

        <a href="/search/rioja" class="grape-item" onclick="search(this.id)">

            <div class="grape-icon">
                <img src="../images/redgrape.png" width="40">
            </div>

            <div class="grape-info">
                <h2>Rioja</h2>
                <p>Rioja is made from a blend of grape varieties, with Tempranillo
                    being the dominant grape. Wine from Rioja is known for its
                    structure and tannins, similar to Cabernet Sauvignon, but it
                    also has a fruity character and will pair perfectly with any food.</p>
            </div>

        </a>

        <div class="grape-item" id="cotes_du_rhone" onclick="search(this.id)">

            <div class="grape-icon">
                <img src="../images/redgrape.png" width="40">
            </div>

            <div class="grape-info">
                <h2>Cotes du Rhône</h2>
                <p>The red wines can be fruity, sweet, spicy and packed
                    with ripe, red berries and easy to drink. Cotes du Rhône red wines can be paired with any type
                    of meat, grilled, roasted, braised or stewed. They are also perfect paired with a wide variety
                    of soft and hard
                    cheese.</p>
            </div>

        </div>

        <div class="grape-item" id="zinfandel" onclick="search(this.id)">

            <div class="grape-icon">
                <img src="../images/redgrape.png" width="40">
            </div>

            <div class="grape-info">

                <h2>Zinfandel</h2>
                <p>Zinfandel (also known as Primitivo) is a variety of
                    black-skinned wine grape. Red berry fruit flavors
                    predominate in wines from cooler
                    areas, whereas blackberry, anise and pepper notes
                    are more common in wines made in warmer areas. Zinfandels pair extremely well with meat.</p>
                </a>
            </div>

        </div>

        <div class="grape-item" id="cabernet_sauvignon" onclick="search(this.id)">

            <div class="grape-icon">
                <img src="../images/redgrape.png" width="40">
            </div>

            <div class="grape-info">

                <h2>Cabernet Sauvignon</h2>
                <p>Cabernet Sauvignon is a red wine designed for cellaring and
                    keeping for many years. However, you can certainly
                    find younger, fruitier styles to help you explore
                    the flavours of this iconic grape. Cabernet Sauvignong pairs perfectly with red meat.</p>
                </a>
            </div>

        </div>

        <div class="grape-item" id="shiraz" onclick="search(this.id)">

            <div class="grape-icon">
                <img src="../images/redgrape.png" width="40">
            </div>

            <div class="grape-info">

                <h2>Shiraz</h2>
                <p>Shiraz produces rich, brooding flavours of
                    blackberry, black plums and blackcurrant, with spicy,
                    coffee, leathery and liquorice notes in hotter regions
                    and gamey, truffle notes developing with a bit of age. Leaner red meat, stew, and mildly spicy
                    ethnic foods pairs very well with Shiraz.</p>
                </a>
            </div>

        </div>

        <div class="grape-item" id="merlot" onclick="search(this.id)">

            <div class="grape-icon">
                <img src="../images/redgrape.png" width="40">
            </div>

            <div class="grape-info">

                <h2>Merlot</h2>
                <p>Merlot is characterised by its soft texture and
                    easy, fruit-forward character. Think ripe plums,
                    summer fruits and touches of vanilla and spice. It
                    produces juicy, soft, plump reds. Merlot can be paired with a wide range of dishes, from charcuterie
                    and cheese to pork and veal.</p>
                </a>
            </div>

        </div>

    </div>
    </div>
</section>