<!-- Dela upp grapes i i mindre templates -->

<section class="wrapper grapes">
    <h1>Red Grapes</h1>

    <div class="grid-container">

        <div class="grid-item">

            <div class="grape-icon">
                <img src="../images/redgrape.png" width="40">
            </div>

            <div class="grape-info">
                <h2>Rioja</h2>
                <p>Rioja is made from a blend of grape varieties, with Tempranillo
                    being the dominant grape. Wine from Rioja is known for its
                    structure and tannins, similar to Cabernet Sauvignon, but it
                    also has a fruity character. This makes it perfect for drinkers
                    who love Cabernet but are also looking for the dominant cherry flavor.</p>
                <div class="button-nav"><a href="" class="button">Search</a></div>
            </div>

        </div>

        <div class="grid-item">

            <div class="grape-icon">
                <img src="../images/redgrape.png" width="40">
            </div>

            <div class="grape-info">
                <h2>Cotes du Rhône</h2>
                <p>The red wines can be fruity, sweet, spicy and packed
                    with ripe, red berries.The wines can be sweet, fruity
                    and easy to drink.</p>
                <div class="button-nav"><a href="" class="button">Search</a></div>
            </div>

        </div>

        <div class="grid-item">

            <div class="grape-icon">
                <img src="../images/redgrape.png" width="40">
            </div>

            <div class="grape-info">
                <h2>Zinfandel</h2>
                <p>Zinfandel (also known as Primitivo) is a variety of
                    black-skinned wine grape. Red berry fruit flavors
                    like raspberry predominate in wines from cooler
                    areas, whereas blackberry, anise and pepper notes
                    are more common in wines made in warmer areas and
                    in wines made from the earlier-ripening Primitivo clone.</p>
                <div class="button-nav"><a href="" class="button">Search</a></div>
            </div>

        </div>

        <div class="grid-item">

            <div class="grape-icon">
                <img src="../images/redgrape.png" width="40">
            </div>

            <div class="grape-info">
                <h2>Cabernet Sauvignon</h2>
                <p>Cabernet sauvignon's success as a fine wine lies in
                   its subtleties: secondary, complex flavours that
                   have the potential to develop deliciously in bottle
                   over time. A red wine designed for cellaring and
                   keeping for many years. However, you can certainly
                   find younger, fruitier styles to help you explore
                   the flavours of this iconic grape.</p>
                <div class="button-nav"><a href="" class="button">Search</a></div>
            </div>

        </div>

        <div class="grid-item">

            <div class="grape-icon">
                <img src="../images/redgrape.png" width="40">
            </div>

            <div class="grape-info">
                <h2>Shiraz</h2>
                <p>Syrah, or shiraz as it's known in the New World,
                    can produce such deliciously dark full-bodied and
                    age-worthy wines. Expect rich, brooding flavours of
                    blackberry, black plums and blackcurrant, with spicy,
                    coffee, leathery and liquorice notes in hotter regions
                    and gamey, truffle notes developing with a bit of age.</p>
                <div class="button-nav"><a href="" class="button">Search</a></div>
            </div>

        </div>

        <div class="grid-item">

            <div class="grape-icon">
                <img src="../images/redgrape.png" width="40">
            </div>

            <div class="grape-info">
                <h2>Merlot</h2>
                <p>Merlot is characterised by its soft texture and
                    easy, fruit-forward character. Think ripe plums,
                    summer fruits and touches of vanilla and spice. It
                    produces juicy, soft, plump reds, but also plays
                    an important role in blends, especially with
                    cabernet sauvignon.</p>
                <div class="button-nav"><a href="" class="button">Search</a></div>
            </div>

        </div>

    </div>
    </div>
</section>
