<section class="wrapper results">
    <h1>Showing "G R A P E" wines matching "S E A S O N" season</h1>
    <!-- Hämta druva man sökt på och visa i G R A P E och vilken som är
    nuvarande säsongen och visa i S E A S O N-->

    <div class="grid-container">

        {% for recipe in recipes %}
        <div class="result-item">

            <div class="polaroid">
                <div class="result-image">
                    <img src="{{ recipe.imageURL }}">
                </div>

                <div class="result-title">
                    <h3>{{ recipe.title }}</h3>
                    <p><a href="{{ recipe.details }}">Länk till receptet</a></p>
                </div>
            </div>

        </div>
        {% endfor %}

    </div>
    </div>

</section>