<section class="wrapper results">
    <h1>Showing "G R A P E" wines matching "S E A S O N" season</h1>
    <!-- Hämta druva man sökt på och visa i G R A P E och vilken som är
    nuvarande säsongen och visa i S E A S O N-->

    <div class="grid-container">

        <div class="result-item">

            <div class="polaroid">
                <div class="result-image">
                    <img src="https://dummyimage.com/340x240/c2c2c2/fff.png">
                </div>

                <div class="result-title">
                    <h3>Recipe name</h3>
                    <p>Lorem ipsum...</p>
                </div>
            </div>

        </div>

        <!-- OSV... :) -->
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>
        <div class="result-item"></div>

    </div>
    </div>
    
</section>