<section class="wrapper grapes">
    <h1 id="white">White Grapes</h1>

    <div class="grid-container">

        <div class="grape-item" id="chardonnay" onclick="search(this.id)">

            <div class="grape-icon">
                <img src="../images/whitegrape.png" width="40">
            </div>

            <div class="grape-info">
                    <h2>Chardonnay</h2>
                    <p>The grape is relatively neutral, with fresh apple
                        aromas. Oak ageing adds vanilla, toast or toffee aromas,
                        together with other techniques adds layers of flavour and complexity.
                        Chardonnay pairs best with mild, subtle foods that are not too spicy, not too pungent and not
                        too acidic.</p>
            </div>

        </div>

        <div class="grape-item" id=sauvignon_blanc" onclick="search(this.id)">

            <div class="grape-icon">
                <img src="../images/whitegrape.png" width="40">
            </div>

            <div class="grape-info">
                    <h2>Sauvignon Blanc</h2>
                    <p>In general, sauvignon blanc is used to make dry wines,
                        distinctive for their fresh acidity and beautiful perfume.
                        In cooler climates the wines often have bright citrus and
                        mineral notes combined with a green nettle character.
                        Cheese, green vegetables, oysters and pasta all pair well.</p>
            </div>

        </div>

        <div class="grape-item" id="pinot_grigio" onclick="search(this.id)">

            <div class="grape-icon">
                <img src="../images/whitegrape.png" width="40">
            </div>

            <div class="grape-info">
                    <h2>Pinot Grigio</h2>
                    <p>This grape is charmingly light and fresh with
                        citrus, peach and floral aromas. It's brilliant drunk on
                        its own as an aperitif or with salads and creamy cheeses.
                        Everyday pinot grigios are a great place to start for simple,
                        fresh, fruity white wines for easy drinking.</p>
            </div>

        </div>

        <div class="grape-item" id="gewurztraminer" onclick="search(this.id)">

            <div class="grape-icon">
                <img src="../images/whitegrape.png" width="40">
            </div>

            <div class="grape-info">
                    <h2>Gewürztraminer</h2>
                    <p>Scents of sweet spice, plump pink roses,
                        lychees, ginger and hints of grapefruit and white peach.
                        Gewürz is often the answer when it comes to hard-to-match
                        spicy dishes like Thai food, Indian, Vietnamese,
                        or Chinese dishes, anything with fragrance and a mild-medium
                        chilli hit.</p>
            </div>

        </div>

        <div class="grape-item" id="chenin_blanc" onclick="search(this.id)">

            <div class="grape-icon">
                <img src="../images/whitegrape.png" width="40">
            </div>

            <div class="grape-info">
                    <h2>Chenin Blanc</h2>
                    <p>The aromas and flavor notes include the descriptors of
                        minerally, greengage, angelica and honey. If produced
                        from noble rot, notes of peaches and honey that
                        develop into barley sugar, marzipan, and quince as they age.
                        Pairs well with Seafood,fruit desserts and tasty cheeses.</p>
            </div>

        </div>

        <div class="grape-item" id="riesling" onclick="search(this.id)">

            <div class="grape-icon">
                <img src="../images/whitegrape.png" width="40">
            </div>

            <div class="grape-info">
                    <h2>Riesling</h2>
                    <p>This aromatic grape variety makes some of the world's finest white
                        wines in a vast variety of styles, the best of which will age
                        brilliantly, turning from floral, lime aromas and flavours to
                        intriguing developed aromas of kerosene. Seafood, vegetables, fruit and tasty cheeses all pairs well.+
            </div>

        </div>

    </div>
    </div>
</section>