<!-- Dela upp grapes i i mindre templates -->
   <section class="wrapper grapes">
        <h1>White RedGrapes</h1>

        <div class="grid-container">

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

        </div>
        </div>
    </section>
