{% extends "templates/layout/base.html" %}

{% block title %}Front page title{% endblock %}

{% block content %}

    <!-- START Hero -->
    <section class="wrapper hero">
        <!-- Ej färdig text eller design -->

        <img src="../images/winesearcher.png" width="1280" alt="Wine searcher figure">

    </section>
    <!-- END Hero -->


   <!-- Gömmer tillsvidare START Choose Wine 
    <section class="wrapper choose">
        <article>
            <h1 style="font-size:50px">Choose your favorite Wine</h1>
        </article>
    </section>
    END Choose Wine -->

    <!-- START Choose Red Grape -->
    <section class="wrapper grapes">
        <h1>Red Grapes</h1>

        <div class="grid-container">

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

        </div>
        </div>
    </section>
    <!-- END Choose Red Grape -->

    <!-- START Choose White Grape -->
    <section class="wrapper grapes">
        <h1>White Grapes</h1>

        <div class="grid-container">

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

            <div class="grid-item">

                <div class="grape-icon">
                    <img src="../images/grape.png" width="40">
                </div>

                <div class="grape-info">
                    <h2>Grape</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Eos perferendis iure exercitationem dolore quidem molestias numquam, atque nobis
                        facere
                        obcaecati quisquam corrupti debitis possimus vel magni. Eveniet, vero. Vel, asperiores!</p>
                    <div class="button-nav"><a href="" class="button">Search</a></div>
                </div>
            
            </div>

        </div>
        </div>
    </section>
    <!-- END Choose White Grape -->

    <!-- START Seasonal -->
    <section class="wrapper seasonal">
        <article>
            <!-- Ej färdig text eller design -->
            <h1>Seasonal</h1>
            <p>Seasonal food refers to the times of year when the harvest or the flavour of a given type food is at its
                peak.</p>
        </article>
    </section>

    <!-- END Seasonal -->
{% endblock %}