{% extends "templates/layout/base.tpl" %} <!-- Bas-layout för sidan -->

{% block content %} <!-- Sidinnehåll -->

    <!-- Hero-banner, visas bara på "första-sidan" därav ej lagd i egen template -->
    <div id="root">
        <section class="wrapper hero">
            <article>
                <h1>Match your favorite wine
                with food in season</h1>
            </article>
        </section>
    
        <!-- Presentation av Röda och Vita druvor som användaren kan välja på-->
        {% include "templates/partials/redgrape.tpl" %}

        {% include "templates/partials/whitegrape.tpl" %}
    </div>


    {% include "templates/partials/recipepresenter.tpl" %}  <!-- Presentation av valt recept-->

    {% include "templates/partials/resultgrid.tpl" %}   <!-- Sökresultat-->

    {% include "templates/partials/seasonalbanner.tpl" %}   <!-- Säsongsbanner-->

{% endblock %}