{% extends "templates/layout/base.html" %}
{% block content %}

<!-- Visar Recept-presentatör-->
{% include "templates/partials/recipepresenter.html" %}

<!-- Ska visa resultaten igen från sökningen-->
{% include "templates/partials/resultgrid.html" %}

<!-- Valt recept visas -->
<!-- Lista på hittade recept visas -->
<section class="wrapper">

<p>{{ title }}</p>

<p>{{ ingredients }} </p>

<p>{{ description }} </p>

<p>{{ id }} </p>

<p> <img src="{{ imageURL }}">Bild</img></p>
</section>



{% endblock %}